/*input range*/
.input_range_bar{
display:inline-block;
width:100px;
height:0.5em;
background:#f9f9f9;
border:inset 1px #999;
position:relative;
}
.input_range_wheel{
display:inline-block;
width:5px;
height:1em;
position:absolute;
top:-0.25em;
background:#666;
border:outset 1px #999;
cursor:move;
}
.input_range_tip{
padding-left:0.5em;
}
/*input color*/
.input_color_single{
display:inline-block;
width:13px;
height:13px;
line-height:13px;
}
.input_color_current{
background:#000;
border:solid 1px #999;
position:relative;
text-decoration:none;
outline:none;
}
.input_color_current:after{
display:inline-block;
content:"◆";
color:#999;
padding-left:1.2em;
line-height:0;
width:1em;
height:1em;
overflow:hidden;
position:absolute;
top:0.4em;
left:0;
}
.input_color_picker_quick{
width:180px;
padding:1px 0;
background:#fff;
border:solid 1px #000;
box-shadow:1px 1px 2px;
position:absolute;
}
.input_color_picker_full{
width:310px;
padding:1px 0;
background:#fff;
border:solid 1px #000;
box-shadow:1px 1px 2px;
position:absolute;
background:#eee;
}
.input_color_picker_quick .input_color_single{
width:18px;
height:18px;
margin:0 1px;
}
.input_color_black{background-color:black;}
.input_color_silver{background-color:silver;}
.input_color_gray{background-color:gray;}
.input_color_navy{background-color:navy;}
.input_color_blue{background-color:blue;}
.input_color_aqua{background-color:aqua;}
.input_color_teal{background-color:teal;}
.input_color_purple{background-color:purple;}
.input_color_fuchsia{background-color:fuchsia;}
.input_color_white{background-color:white;}
.input_color_lime{background-color:lime;}
.input_color_green{background-color:green;}
.input_color_maroon{background-color:maroon;}
.input_color_red{background-color:red;}
.input_color_orange{background-color:orange;}
.input_color_yellow{background-color:yellow;}
.input_color_olive{background-color:olive;}

.input_color_more{width:100%;}
.input_color_full_tip{padding-left:1em;margin:0;}
.input_color_sub_current{width:4em;}
.input_color_full_submit,.input_color_full_reset{width:56px;margin-left:5px;*line-height:1em;*height:1.7em;}
/**input color range for ie below 9**/
.input_color_picker_full .input_range_bar{
width:255px;
background:#fff;
}
.input_color_picker_full .input_range_wheel{
width:10px;
}
.input_color_range_p{padding-left:0.5em;}